{% set pageClass = "page-home" %}
{% set pageTitle = "Home page" %}

{% extends "partials/_layout.njk" %}

{% block content %}

  <div class="section-dark pt-4 pb-4">
    <div class="container">
      <h2 class="text-headline is-header text-white"><i class="far fa-eye text-blue in-header"></i> TAKE A LOOK</h2>
    </div>
  </div>

  <div class="section-header pt-4 pb-6 pt-lg-6 pb-lg-20">
    <div class="container">

      <h1 class="text-mega mb-2 mb-lg-3">Ние гледаме вместо Вас!</h1>
      <h2 class="text-title">Подробна информация за избрания от Вас автомобил във всеки град в България!</h2>

    </div>
  </div>

  <div class="section-white with-offset-y pt-6 pb-6 pt-lg-10 pb-lg-10">
    <div class="container">

      <div class="container-features is-offset-y">
        <h3 class="text-subheader text-center mb-5 mb-md-8">Харесали сте употребяван автомобил?<br>
          Нямате <strong>време</strong> и <strong>възможност</strong> да го видите?<br>
          Няма проблем, ние ще го направим  <strong>вместо вас</strong>!
        </h3>

        <h3 class="text-display text-center mb-3 mb-md-5">Така Вие спестявате:</h3>

        <div class="row">
          <div class="col text-center">
            <i class="far fa-clock feature-icon mb-2"></i>
            <h3 class="text-headline">Време</h3>
          </div>

          <div class="col text-center">
            <i class="fas fa-dollar-sign feature-icon mb-2"></i>
            <h3 class="text-headline">Пари</h3>
          </div>

          <div class="col text-center">
            <i class="far fa-grin feature-icon mb-2"></i>
            <h3 class="text-headline">Hерви</h3>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section-light pt-5 pb-5 pt-lg-10 pb-lg-8">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h3 class="text-display mb-4">КАКЪВ Е ПРОЦЕСЪТ?</h3>

          <div class="row mb-4 mb-lg-10">
            <div class="col-md-6">
              <img class="img-fluid mb-3 mb-md-0" src="img/feature-1.png" alt="">
            </div>
            <div class="col-md-6">
              <h3 class="text-headline text-slate mb-4">Правите заявка за оглед</h3>
              <p class="text-light text-feature">Използвайте нашето модерно приложение или направете заявка през сайта ни.</p>
            </div>
          </div>

          <div class="row mb-4 mb-lg-10">
            <div class="col-md-6 order-lg-12">
              <img class="img-fluid mb-3 mb-md-0" src="img/feature-2.png" alt="">
            </div>
            <div class="col-md-6 order-lg-1 text-lg-right">
              <h3 class="text-headline text-slate mb-4">Наш представител<br>отива на място</h3>
              <p class="text-light text-feature">Нашият представител прави снимки, видео и описва всякаква съществена информация за автомобила.</p>
            </div>
          </div>

          <div class="row mb-4 mb-lg-10">
            <div class="col-md-6">
              <img class="img-fluid mb-3 mb-md-0" src="img/feature-3.png" alt="">
            </div>
            <div class="col-md-6">
              <h3 class="text-headline text-slate mb-4">Получавате подробен доклад</h3>
              <p class="text-light text-feature">Докладът съдържа подробна информация за състоянието на колата, снимки и видео</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="pt-6 pb-6 pt-lg-8 pb-lg-8">
    <div class="container">

      <h3 class="text-display text-center mb-4">Изберете услуга</h3>

      <div class="row mb-5 state-form">
        <div class="offset-md-1 col-md-5">
          <div class="card-feature">
            <div>
              <h2 class="text-headline mb-5">Стандартен оглед</h2>
              <ul>
                <li class="list-feature mb-2"><i class="fas mr-3 fa-car-crash icon-feature text-primary"></i> <p class="text-light text-feature">Описателен доклад на външното състояние на колата</p></li>
                <li class="list-feature mb-2"><i class="fas mr-3 fa-camera icon-feature text-primary"></i> <p class="text-light text-feature"> Галерия със снимки</p></li>
                <li class="list-feature mb-2"><i class="fas mr-3 fa-video icon-feature text-primary"></i> <p class="text-light text-feature"> Видео</p></li>
              </ul>
            </div>
            <button class="btn btn-primary button-type" data-type="Стандартен оглед">Избери</button>
          </div>
        </div>

        <div class="col-md-5 ">
          <div class="card-feature">
            <div>
              <h2 class="text-headline mb-5">Технически оглед</h2>
              <ul>
                <li class="list-feature mb-2"><i class="fas mr-3 fa-oil-can icon-feature text-primary"></i> <p class="text-light text-feature">Доклад за техническото състояние на двигателя, ходова част и окачаване</p></li>
                <li class="list-feature mb-2"><i class="fas mr-3 fa-car-crash icon-feature text-primary"></i> <p class="text-light text-feature">Описателен доклад на външното състояние на колата</p></li>
                <li class="list-feature mb-2"><i class="fas mr-3 fa-camera icon-feature text-primary"></i> <p class="text-light text-feature"> Галерия със снимки</p></li>
                <li class="list-feature mb-2"><i class="fas mr-3 fa-video icon-feature text-primary"></i> <p class="text-light text-feature"> Видео</p></li>
              </ul>
            </div>
            <button class="btn btn-primary button-type" data-type="Технически оглед">Избери</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="offset-md-1 col-md-10">
          <div class="card-feature">
            <div class="state-form">
              <form id="mainForm" action="" method="post" netlify novalidate>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="">Линк към обява</label>
                    <input type="text" class="form-control" name="link" reqired>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="">Вашия град</label>
                    <input type="text" class="form-control" name="city" reqired>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">Email адрес</label>
                    <input type="text" class="form-control" name="email" reqired>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <input type="hidden" id="type" name="type" value="" reqired>
                    <button type="submit" class="btn btn-primary">Поискай цена</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="state-success">
              <h2 class="text-headline">Благодарим за проявения интерес!</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section-dark pt-4 pb-4">
    <div class="container">
      <p class="bold text-center text-white">TAKE A LOOK &copy; 2018</p>
    </div>
  </div>

{% endblock %}
